.memory-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memory-game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
}

.memory-game-cell {
  border: 3px solid rgb(22, 196, 115);
  width: 50px;
  height: 50px;
}

.memory-submit-btn button {
  margin-top: 1rem;
  padding: 20px;
}
