.memory-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2ffe9;
}

.memory-container h1 {
  font-size: 3rem;
  color: #2d4263;
  margin: 0;
}

.memory-game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 660px;
  justify-content: center;
}

.memory-game-cell {
  border: 3px solid #557c55;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.cell-hover:hover {
  border: 3px solid #daa5bb;
  transform: scale(1.01);
}

.empty-hover:hover {
  background-color: #daa5bb !important;
  transform: scale(1.01);
}

.memory-container button {
  border: 3px solid #557c55;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #2d4263;
  background-color: #a6cf98;
}

.memory-container button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
