.menu-container {
  margin-top: -35vh;
}

.menu-container li {
  padding-top: 1rem;
  color: #b089f5;
  font-size: 1.3rem;
  list-style: none;
}

.menu-container li:hover {
  color: #fcfdff;
  border-bottom: 2px solid #fcfdff;
  width: max-content;
  cursor: pointer;
}

.menu-container li:visited {
  text-decoration: none;
  color: #b089f5;
}

.logo-container {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
}

.logo-top {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 50px solid #fcfdff;
}
.logo-mid {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 50px solid #f0e2fa;
  margin-right: -20px;
}

.logo-bottom {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 50px solid #b089f5;
  margin-right: -20px;
}

.social-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.social-link-container {
  display: flex;
  flex-direction: row;
}

.social-link {
  margin-right: 1rem;
  color: #b089f5;
}

.social-link i {
  font-size: 1.3rem;
}

.social-link i:hover {
  transform: scale(1.3);
}

.social-separator {
  border-top: 1.5px solid #b089f5;
  width: 25vw;
  position: fixed;
  margin-top: 7px;
  margin-left: 11%;
}
