.gameboard-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard-area {
  width: 33.333%;
  height: 75%;
  border: 5px solid #000;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard-game {
  width: 66.666%;
  height: 80%;
  border: 3.5px solid #000;
  border-radius: 15px;
}
