.tictactoe-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-end;
  background-color: #1477b2;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  width: 77%;
}

.gameboard-container h1 {
  font-size: 4rem;
  color: #001f3d;
}

.gameboard-cell:hover {
  transform: scale(1.1);
}

button {
  border: 3px solid #001f3d;
  border-radius: 7px;
  padding: 5px 10px;
  color: #001f3d;
  background-color: #1477b2;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 15px #ccdada;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gameboard-area {
  display: flex;
  flex-wrap: wrap;
  width: 33.333%;
}

@media only screen and (max-width: 1100px) {
  .gameboard-cell {
    height: 70px !important;
    width: 70px !important;
    font-size: 4rem !important;
  }
}

/* ------------------- Scoreboard ------------------ */
.scoreboard-container {
  display: flex;
  flex-direction: column;
}

.scoreboard-header {
  font-size: 1.5rem;
  color: #001f3d;
  border-bottom: 3px solid #001f3d;
  display: flex;
  flex-direction: column;
}

.players {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.scoreboard-scores-container {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  justify-content: space-between;
}

.scoreboard-score {
  font-size: 1rem;
}

@media only screen and (max-width: 900px) {
  .tictactoe-container {
    flex-direction: column-reverse;
  }
  .gameboard-container {
    width: 100%;
  }
  .scoreboard-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
