.landing-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.landing-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.landing-header span {
  letter-spacing: -12px;
  font-size: 6rem;
}

.landing-header h1 {
  font-size: 5rem;
}

.landing-links-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0vh 10vw;
}

.landing-links-container button {
  background-color: #000;
  color: #ffe8d6;
  font-size: 2rem;
  font-weight: 600;
  padding: 5px 15px;
  margin: 1rem 1rem;
  box-shadow: 3px 3px 3px #a5a58d;
  border-radius: 5px;
  border: 1px solid #000;
  font-style: italic;
  cursor: pointer;
}

.landing-links-container button:hover {
  background-color: #ffe8d6;
  border: 1px solid #ffe8d6;
  color: #000;
}
