.createuser-container {
  display: flex;
}

.createuser-form-container {
  flex-direction: column;
  width: 20vw;
}

.createuser-form-container input {
  margin: 5px 5px;
  margin-top: 1rem;
  padding: 15px 3px;
  border: 0px solid #000;
  border-bottom: 2px solid #a5a58d;
  background-color: #ffe8d6;
}

.createuser-form-container input:hover {
  border-bottom: 2px solid #6b705c;
}

.createuser-details {
  display: flex;
  flex-direction: column !important;
}

.createuser-password {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.createuser-form-footer {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.createuser-form-footer span {
  color: #cb997e;
  font-style: italic;
}

.createuser-form-footer span:hover {
  color: #6b705c;
  cursor: pointer;
}

.createuser-form-footer button {
  padding: 5px 10px;
  color: #a5a58d;
  font-size: 1.1rem;
  background-color: #ffe8d6;
  border-radius: 5px;
  border: 1px solid #ffe8d6;
}

.btn-hover:hover {
  border: 1px solid #6b705c;
  border-radius: 5px;
}

@media only screen and (max-width: 650px) {
  .createuser-form-container {
    width: 40vw;
  }
  .createuser-form-footer button {
    font-size: 0.8rem;
  }

  .createuser-password {
    flex-direction: column !important;
  }
}
