input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login-container {
  background-color: #0b847a;
  border-top: 1px solid #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-body-container {
  width: 30%;
  height: max-content;
  background-color: #242526;
  border-radius: 10px;
}
