input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input,
select,
textarea {
  color: #cb997e;
}

::placeholder {
  color: #cb997e;
}

.login-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-header-container {
  display: flex;
  margin-top: 1rem;
  height: 10vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.login-header-container h1 {
  font-size: 3.5rem;
  color: #cb997e;
}

.login-form-container {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.login-form input {
  margin-top: 1rem;
  padding: 15px 3px;
  border: 0px solid #000;
  border-bottom: 2px solid #a5a58d;
  background-color: #ffe8d6;
}

.login-form input:hover {
  border-bottom: 2px solid #6b705c;
}

.login-form button {
  margin-top: 1rem;
  margin-right: 0.5rem;
  padding: 5px 10px;
  color: #a5a58d;
  font-size: 1.1rem;
  background-color: #ffe8d6;
  border-radius: 5px;
  border: 1px solid #ffe8d6;
}

.login-form h4 {
  color: #cb997e;
  font-style: italic;
}

.login-form-footer {
  display: flex;
  flex-direction: row !important;
  align-items: baseline !important;
}

.login-form h4:hover {
  color: #6b705c;
  cursor: pointer;
}

.login-form-footer span {
  color: #cb997e;
  font-style: italic;
}

.login-form-footer span:hover {
  color: #6b705c;
  cursor: pointer;
}

.btn-hover:hover {
  border: 1px solid #6b705c;
  border-radius: 5px;
}

@media only screen and (max-width: 650px) {
  .login-form-footer button {
    font-size: 0.7rem;
  }

  .login-header-container {
    flex-direction: column;
  }
  .login-header-container h1 {
    font-size: 2rem;
  }
}
