.user-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user-header {
  display: flex;
  justify-content: center;
}

.user-header h1 {
  font-size: 2.25rem;
  padding-top: 1.75rem;
  color: #e4e6ea;
}

.user-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-form button {
  background-color: #0b847a;
  border-radius: 10px;
  color: #e4e6ea;
  font-size: 1.1rem;
  border: 2px solid #0b847a;
  height: 5vh;
  width: 80%;
  margin: 1.5rem 0rem;
  margin-left: 4px;
}

.user-form button:hover {
  background-color: #18191a;
  color: #717277;
  border: 3px solid #24282c;
  cursor: pointer;
}

.user-input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.user-input input {
  background-color: #18191a;
  border-radius: 10px;
  border: 2px solid #24282c;
  height: 4vh;
  width: 100%;
}

.user-input label {
  font-size: 1rem;
  margin-left: 4px;
  margin-bottom: 5px;
  color: #717277;
}

.user-footer {
  display: flex;
  align-center: center;
  justify-content: center;
}

.user-footer p {
  color: #717277;
}

.user-footer span {
  color: #0b847a !important;
  margin-left: 5px;
}

.user-footer span:hover {
  border-bottom: #0b847a solid 1.5px;
  width: max-content;
  cursor: pointer;
}
